body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 115, 115);
   
}
#AcEqual{
    display: grid;
    grid-column-end: span;
    height: 82px;
    width: 360px;
    padding: 5px;
    padding-bottom: 0px;
    padding-left: 12px;
    grid-template-columns: repeat(2, 1fr);
}
#numOpBox{
    display: grid;
    grid-column-end: span;
    height: 328px;
    width: 360px;
    padding: 5px;
    padding-left: 12px;
    grid-template-columns: repeat(4, 1fr);
}
#calc{
    border: 3px solid black;
    border-width: 2px;
    width: 375px;
    height: 550px;
    border-radius: 5px;
    border-width: 5px;
    background-color: gainsboro;
}
#display{
    border-bottom: 3px solid black;
    height: 125px;
    background-color: rgb(9, 163, 9);
    font-size: xx-large;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.number, .operator, .button{
    width: 70px; 
    height: 70px;
    margin: 5px;
    font-size:x-large;
}
.equalAc{
    width: 160px; 
    height: 70px;
    margin: 5px;
    font-size:x-large; 
}